.overall-signin{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100vh;
}

.overall-small{
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 80vh;
}
.jr-card-style{
    overflow: hidden;
    height: 80vh;
}