.nav {
    position: relative;
}
.full-nav {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    margin-bottom: 10vh;
    z-index: 1000;
}
.full-nav-10 {
    width: 100vw;
    height: 90px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    margin-bottom: 10vh;
    z-index: 1000;
}
.nav-content{
    margin: 0 5vw;  
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content h1{
    font-weight: bolder;  
}
.nav-search{
    border: none;
    outline: none;
    /* color: gray; */
    font-size: 16px;
    margin-left: 5px;
    width: 100%;
  
}
.searchBox{
    margin-right: 10vw;
}
.nav-search:focus{
    color: none;
}
.icon{
    font-size: 30px;
    /* color: gray; */
}
.searchbar{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 4px 10px;
    display: flex;
    align-items: center;
    font-size: 13px;
    
}
.box3{
    display: flex;
}

.search-dropdown{
    width: 100%;
    background-color: white;
    padding: 5px;
    position: absolute;
    border-radius: 10px;
    margin-top: 5px;
    z-index: 100;
    max-height: 200px;

}
.search-dropdown .drop-suggestion{
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.search-dropdown .drop-suggestion:hover{
background-color: rgb(226, 226, 226);

}

.slide-layer{
    position: absolute;
    width: 60%;
    height: 90vh;
    background-color: #dfebdd;
    border-radius:0 10px 10px;
    padding: 30px;
    padding-left: 10px;
    padding-top: 10px;
    transform: translateX(-150%);
    transition: transform 0.3s ease;
}
.sidebar-open {
    transform: translateX(-34%);
    transition: transform 0.3s ease;

  }
.sakthi{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.527);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.item{
    padding: 10px 10px; 
}
.item:hover{
    background-color: rgba(10, 124, 25, 0.89);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
}
.drop-down:hover{
    color: rgba(10, 124, 25, 0.89);
}

@media only screen and (max-width: 700px) {
    .nav-content h1{
        display: none;
    }
    .nav-content{
        display: flex;
        flex-direction:column-reverse;
    }
    .searchbar{
        width: 100%;
    }
    .box3{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .full-nav {
        height: 130px;
    }
    .full-nav-15 {
        /* height: 15vh; */
    }
    .full-nav-10 {
        /* width: 100vw;
        height: 10vh;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        margin-bottom: 10vh;
        z-index: 1000; */
    }
}

@media only screen and (max-width: 376px) {

    .full-nav {
        /* height: 20vh;
        padding-top: 0px !important; */
   
    }
}

#suggestions {
    position: absolute;
    background-color: #fff !important;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
  }
  
  #suggestions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #suggestions ul li {
    padding: 8px;
    cursor: pointer;
  }
  
  #suggestions ul li:hover {
    background-color: #f4f4f4;
  }
  .overall-heart{
    position: relative;
  }
  .whishlist-dot{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    position: absolute;
    top: 40%;
    left: 60%;
  }

  @media only screen and (min-width: 800px) {
    .nav-content{
        margin: auto 5% !important ;
    }
  }