* {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */

}

.sideNav {
  /* background-color: ; */
  width: 60px;
  transition: all 0.7s;
  /* height: calc(100vh -60px); */
  height: 100vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* border-right: 5px rgb(12, 0, 0) solid; */
}

.overall-content {
  margin-left: 60px;
}

.sideNav:hover {
  width: 200px;
  transition: all 0.5s;
}

.iconDiv {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 8px;
  /* padding-right: 10px; */
  margin: 0 8px;
}

.iconDiv .icon {
  font-size: 30px;

}

.iconDiv:hover {
  background-color: #c1c5c975;
  border-radius: 10px;
}

.iconDiv:hover .icon {
  color: white !important;
  transition: all 0.7s;
}

.sideNav:hover .iconDiv .icon {
  font-size: 22px;

  transition: all 0.5s;
}

.show {
  opacity: 0%;
  transition: all 0.7s;
}

.sideNav:hover .show {
  opacity: 100%;
  transition: all 0.7s;
}

.login-input {
  text-indent: 10px;
}

.login-input:focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

.sm-margin-top{
  margin-top: 100px;
}


  @media only screen and (max-width: 460px) {
    .sm-margin-top{
      margin-top: 130px;
    }
  }



  