  /* Custom scrollbar styles */
  .scroll-container::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 5px;
  }

  /* Scrollbar track */
  .scroll-container::-webkit-scrollbar-track {
    background: #e0e0e0; /* Background color of the track */
    border-radius: 5px;  /* Rounded edges for track */
  }

  /* Scrollbar thumb */
  .scroll-container::-webkit-scrollbar-thumb {
    background: #8888888a; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded edges for thumb */
  }

  /* Scrollbar thumb on hover */
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when hovering */
  }